*{
padding: 0;
margin: 0;
list-style: none;
text-decoration: none;
box-sizing: border-box;
}

body{
    font-family: 'Times New Roman', Times, serif;
    background: gray;
}

#nav{
    background: black;
    height: 60px;
    width: 100%;
    margin-top: 2px;
    margin-bottom: 20px;
}
#nav > ul{
    float: left;
    margin-right: 20px;
}

#nav > ul >li{
    display: inline-block;
    line-height: 60px;
    margin: 0 5px;
    padding-top: 5px;

}
#nav > ul > li > a{
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    cursor: pointer;

}

.input{
    width: 40%;
    margin: 8px 0;
    padding: 10px 10px;
    border: 2px solid black;
    border-radius: 10px;
}
#fname{
    margin-right: 31px;
}
#lname{
    margin-right: 31px; 
}
#pass{
    margin-right:35px ;   
}
#email{
    margin-right:60px ;   
}
#phone{
    margin-right:5px ;   
}
.submit{
    width: 10%;
    margin: 8px 0;
    padding: 10px 10px;
    border: 2px solid black;
    border-radius: 10px; 
    cursor: pointer;
}
textarea {
    width: 40%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 20px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

#image{
    height: 300px;
    width: 300px;
    border-radius: 100%;
    float: left;
}
#name{
    height: 400px;
    width: 100%;
    margin: 20px;
    padding: 20px;
    border-bottom: 2px solid black;
}


#discription{
    padding: 100px;
    margin-left: 300px;
}
#work{
    margin: 20px;
    width: 100%;
    height: 100px;  
}
#workleft{
    width: 50%;
    float: left;
}
#workright{
    width: 50%;
    float: left;   
}
#skilla{
    margin: 20px;
    width: 100%;
    height: 100px;
}
#skillstopic{
    width: 50%;
    float: left;
}
#skillsstar{
    width: 50%;
    float: left;
}

/* contact */
.form{
    margin-left: 20px;
}
.mapouter{
    float: right;
    margin-right: 40px;
}

/* blogs */
}
section{
    /* border: solid 1px; */
    padding: 5px 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;

}
article{
    line-height: 25px;
    font-size: 18px;
    text-align: justify;
}
 
.question{
    border: 1px solid black;
    margin: 100px;
    padding: 60px;
}
.question h2,h1,h3{
    margin : 20px;
    font-size: 20px;
}
.title{
    font-size: 25px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 60px;
    margin-bottom: 25px;
}
.date{
    text-transform: capitalize;
    font-style: italic;
    font-size: 20px;
    margin-top: 10px;
}
img{
    width: 400px;
    height: 400px;
    float: left;
    height: 500px; 
    width: 30%;
    margin: 1.66%;
}
#gallary{
    border-top: 20px solid black;
    font-size: 20px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    width: 2rem;
    padding-bottom: 20px;
    border-style: solid 20px;
    position:relative;
    text-align: center;
    display: inline;

}

.heading{
    margin-left: 40px;
    font-size: 80px;
}
div > ul >li a:link, a:visited{
        background-color:#f44336;
        color: white;
        padding: 14px 25px;
        text-align: center;	
        text-decoration: none;
        display: inline-block;
        margin: 20px;  
        border-radius: 20px;
}
div > ul >li a:hover, a:active {
        background-color: red;
}

/* tic toc toe */
  .outside {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #eee;
  }
  .inside {
    display: grid;
    width: 900px;
    height: 900px;
    grid-template-columns: auto auto auto;
  }
  .tictac {
    width: 300px;
    height: 300px;
    font-size: 3rem;
    font-weight: bold;
    border: 3px solid black;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  
#tictop1,
#tictop2,
#tictop3 {
  border-top: none;
}

#tictop1,
#ticmiddle1,
#ticbottom1 {
  border-left: none;
}

#ticbottom1,
#ticbottom2,
#ticbottom3 {
  border-bottom: none;
}

#tictop3,
#ticmiddle3,
#ticbottom3 {
  border-right: none;
}

/* flags */
#flags{
    margin: 20px;
}
#georgia{
    width: 600px;
    height: 300px;
    background: black;   
}
.topbotgeo{
    width: 600px;
    height: 125px;
    background: white;    
}
.georgia1{
    width: 275px;
    height: 125px;
    float: left;
}
.georgia11{
    width: 91.66666666666667px;
    height: 125px;
    float: left;
    background: white;
}
.georgia12{
    width: 91.66666666666667px;
    height: 125px;
    float: left;
    background: red;
}
.georgia121{
    width: 91.66666666666667px;
    height: 25px;
    background: white;
}
.georgia122{
    width: 91.66666666666667px;
    height: 75px;
    background: red;
}
.alageo{
    width: 91.66666666666667px;
    height: 30px;
    background: white;
}
.alageo1{
    width: 38.33333333333335px;
    height: 30px;
    background: white;
    float: left;
}
.alaygeo1{
    width: 15px;
    height: 30px;
    background: red;
    float: left;
}
.alageo1{
    width: 38.33333333333335px;
    height: 30px;
    background: white;
    float: left;
}
.alaygeo{
    width: 91.66666666666667px;
    height: 15px;
    background: red;
}
.alayugeo{
    width: 91.66666666666667px;
    height: 30px;
    background: white;
}
.georgia123{
    width: 91.66666666666667px;
    height: 25px;
    background: white;
}
.georgia13{
    width: 91.66666666666667px;
    height: 125px;
    float: left;
    background: white;
}
.georgia2{
    width: 50px;
    height: 125px;
    background: red;
    float: left;
}
.georgia3{
    width: 275px;
    height: 125px;
    float: left;
}
#midgeo{
    width: 600px;
    height: 50px;
    background: red;
}
/* #botgeo{
    width: 600px;
    height: 125px;
    background: white;
} */
#greece{
    width: 600px;
    height: 300px;
}
#grtop{
    width: 600px;
    height: 166.666667px;
    background: red;
}
#grleft{
    width: 200px;
    height: 166.666667px;
    background: white;
    float: left;
}
#grleft1{
    width: 200px;
}
#grleft11{
    width: 70px;
    height: 70px;
    background: blue;
    float: left;
}
#grleft12{
    width: 70px;
    height: 70px;
    background: blue;
    float: right;
}

#grleft2{
    width: 200px;
    height: 100px;
    background: white;
}
#grleft3{
    width: 200px;
    height: 55.5555557px;
    background: white;
}
#grleft31{
    width: 70px;
    height: 67px;
    background: blue;
    float: left;
}
#grleft32{
    width: 70px;
    height: 67px;
    background: blue;
    float: right;
}
#grright{
    width: 400px;
    height: 166.666667px;
    float: left;
}
#grright1{
    width: 400px;
    height: 33.3333334px;
    background: blue;
}
#grright2{
    width: 400px;
    height: 33.3333334px;
    background: white;
}
#grright3{
    width: 400px;
    height: 33.3333334px;
    background: blue;
}
#grright4{
    width: 400px;
    height: 33.3333334px;
    background: white;
}
#grright5{
    width: 400px;
    height: 33.3333334px;
    background: blue;
}
#grbot{
    width: 600px;
    height: 133.333333px;
    background: blue ;
}
#grbot1{
    width: 600px;
    height: 33.3333332px;
    background: white;
}
#grbot2{
    width: 600px;
    height: 33.3333332px;;
    background: blue;
}
#grbot3{
    width: 600px;
    height: 33.3333332px;;
    background: white;
}
#grbot4{
    width: 600px;
    height: 33.3333332px;;
    background: blue;
}
#SierraLeone{
    height: 300px;
    width: 600px;
    background: white ;
    border-top: 100px solid green;
    border-bottom: 100px solid  #427bf5;
    
}
#denmark{
    height:300px;
    width: 600px;
    background:red ;
}
#uper{
    width: 600px;
    height: 100px;
    background: red;
}
#top1{
    width: 200px;
    height: 100px;
    background: red;
    float: left;
}
#top2{
    width: 100px;
    height: 100px;
    background: white;
    float: left;
}
#top3{
    width: 300px;
    height: 100px;
    background: red;
    float: left;
}
#midl{
    width: 600px;
    height: 100px;
    background:white;
}
#bot{
    width: 600px;
    height: 100px;
    background: red;
}
#top4{
    width: 200px;
    height: 100px;
    background: red;
    float: left;
}
#top5{
    width: 100px;
    height: 100px;
    background: white;
    float: left;
}
#top6{
    width: 300px;
    height: 100px;
    background: red;
    float: left;
}
#ghana{
   width: 600px;
   height: 300px;
}
#ghtop{
    width: 600px;
    height: 100px;
    background:red ;
}
#ghmid{
    width: 600px;
    height: 100px;
    background: yellow ;
}
#star5{
    margin: auto;
    width: 0;
    height: 0;
    border-left:  50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 35px solid black;
    transform: rotateZ(35deg);
}
#star5::before{
  position: absolute;
  display: block;
  content: '';
  width: 0;
  height: 0;
  top: -28px;
  left: -30px;
  border-left:  20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 50px solid black;
  transform: rotateZ(-35deg);
}
#star5::after{
position: absolute;
display: block;
content: '';
width: 0;
height: 0;
top: -3px;
left: -52px;
border-left:  50px solid transparent;
border-right: 50px solid transparent;
border-bottom: 35px solid black;
transform: rotateZ(-70deg);

}
#ghbot{
    width: 600px;
    height: 100px;
    background: green ;
}

#guineabessau{
    height:300px;
    width: 600px;
}
#gleft{
    width: 200px;
    height: 300px;
    background: red;
    float: left;
}
#star1{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 100px 100px 100px;
    border-color: transparent transparent black transparent;
    }
    #star1 {
    margin: 100px 5px;
    position: relative;
    display: block;
    color: black;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid black;
    border-left: 100px solid transparent;
    transform: rotate(35deg);
    }
    #star1:before {
    border-bottom: 80px solid black;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -45px;
    left: -65px;
    display: block;
    content: '';
    transform: rotate(-35deg);
     
    }
    #star1:after {
    position: absolute;
    display: block;
    color: black;
    top: 3px;
    left: -105px;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid black;
    border-left: 100px solid transparent;
    transform: rotate(-70deg);
    content: '';
    }

#gright{
    width: 400px;
    height: 300px;
    float: left;
}
#gtop{
    width: 400px;
    height: 150px;
    background: yellow;
}

#gbot{
    width: 400px;
    height: 150px;
    background: green;
}
#benin{
    height:300px;
    width: 600px;
    background: yellow ;
    border-left: 200px solid black ;
    border-right: 200px solid red ;

}
#somalia{
    height:300px;
    width: 600px;
    background: #34cceb;
    overflow: hidden;    
}


#star{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 100px 100px 100px;
    border-color: transparent transparent white transparent;
    }
    #star {
    margin: 115px 180px;
    position: relative;
    display: block;
    color: white;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid white;
    border-left: 100px solid transparent;
    transform: rotate(35deg);
    }
    #star:before {
    border-bottom: 80px solid white;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -45px;
    left: -65px;
    display: block;
    content: '';
    transform: rotate(-35deg);
     
    }
    #star:after {
    position: absolute;
    display: block;
    color: white;
    top: 3px;
    left: -105px;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid white;
    border-left: 100px solid transparent;
    transform: rotate(-70deg);
    content: '';
    }
#kuwait{
    height:300px;
    width: 600px;
}
#trapezium {
    border-bottom: 300px solid black;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    height: 0;
    width: 300px;
    transform: rotate(90deg);
    content:"";
    float: left;
  } 
#ktop{
    width: 600px;
    height: 100px;
    background: green;
}
#kmid{
    width: 600px;
    height: 100px;
    background: white;
}
#kbot{
    width: 600px;
    height: 100px;
    background: red;
}

#japan{
    height:300px;
    width: 600px;
    background: white;
    overflow: hidden;
}
#japan #circle{
    height: 150px;
    width: 150px;
    border-radius: 100%;
    background: red;
    margin: 70px 210px;

}
#aemirates{
    height:300px;
    width: 600px;
}
#aeleft{
    width: 200px;
    height: 300px;
    background: red;
    float: left;
}
#aeright{
    width: 400px;
    height: 300px;
    float: left;
}
#aetop{
    width: 400px;
    height: 100px;
    background:green ;
}
#aemid{
    width: 400px;
    height: 100px;
    background: white;
}
#aebot{
    width: 400px;
    height: 100px;
    background: black;
}
#chili{
    height:300px;
    width: 600px;
}
#ctop{
    width: 600px;
    height: 150px;
}

#cleft{
    width: 200px;
    height: 150px;
    background: blue;
    float: left;
    overflow: hidden;
}
#star4{
    margin: 40px;
    width: 0;
    height: 0;
    border-left:  50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 35px solid white;
    transform: rotateZ(35deg);
}
#star4::before{
  position: absolute;
  display: block;
  content: '';
  width: 0;
  height: 0;
  top: -28px;
  left: -30px;
  border-left:  20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 50px solid white;
  transform: rotateZ(-35deg);
}
#star4::after{
position: absolute;
display: block;
content: '';
width: 0;
height: 0;
top: -3px;
left: -52px;
border-left:  50px solid transparent;
border-right: 50px solid transparent;
border-bottom: 35px solid white;
transform: rotateZ(-70deg);

}
#cright{
    width: 400px;
    height: 150px;
    background: white;
    float: left;
}
#cbot{
    width: 600px;
    height: 150px;
    background: red;
}
#belgium{
    height:300px;
    width: 600px;
    background: ;
}
#belgium{
    height:300px;
    width: 600px;
    background: ;
}
#belgium{
    height:300px;
    width: 600px;
    background: ;
}
#belgium{
    height:300px;
    width: 600px;
    background: ;
}

    #bahamas{
        width: 600px;
        height: 300px;
        background: steelblue;
    }
    #btop{
        width: 600px;
        height: 100px;
        background: steelblue;
    }
    #bmid{
        width: 600px;
        height: 100px;
        background: yellow;
    }
    #bbot{
        width: 600px;
        height: 100px;
        background: steelblue;
    }
    #triangle1 {
        width: 0;
        height: 0;
        border-left: 300px solid red;
        border-top: 150px solid transparent;
        border-bottom: 150px solid transparent;
        float: left;
      }

/* media queries */
@media screen and (max-width: 800px) and (min-width: 300) {
    *{
        padding: 0;
        margin: 0;
        list-style: none;
        text-decoration: none;
        box-sizing: border-box;
        }
        
        body{
            font-family: 'Times New Roman', Times, serif;
            background: gray;
        }
        #nav{
            background: black;
            height: 60px;
            width: 100%;
            margin-top: 2px;
            margin-bottom: 20px;
        }
        #nav > ul{
            float: left;
            margin-right: 20px;
        }
        
        #nav > ul >li{
            display: inline-block;
            line-height: 60px;
            margin: 0 5px;
            padding-top: 5px;
        
        }
        #nav > ul > li > a{
            color: white;
            font-size: 17px;
            text-transform: uppercase;
        
        }
        
        .input{
            width: 40%;
            margin: 8px 0;
            padding: 10px 10px;
            border: 2px solid black;
            border-radius: 10px;
        }
        #fname{
            margin-right: 31px;
        }
        #lname{
            margin-right: 31px; 
        }
        #pass{
            margin-right:35px ;   
        }
        #email{
            margin-right:60px ;   
        }
        #phone{
            margin-right:5px ;   
        }
        .submit{
            width: 10%;
            margin: 8px 0;
            padding: 10px 10px;
            border: 2px solid black;
            border-radius: 10px; 
        }
        textarea {
            width: 40%;
            height: 150px;
            padding: 12px 20px;
            box-sizing: border-box;
            border: 2px solid black;
            border-radius: 20px;
            background-color: #f8f8f8;
            font-size: 16px;
            resize: none;
        }
        
        #image{
            height: 300px;
            width: 300px;
            border-radius: 100%;
            float: left;
        }
        #name{
            height: 400px;
            width: 100%;
            margin: 20px;
            padding: 20px;
            border-bottom: 2px solid black;
        }
       div> ul li{
           margin: 40px;
       }
        #list1 li{
            margin: 20px;
            padding: 20px;
            border: greenyellow;
        }
        
        #discription{
            padding: 100px;
            margin-left: 300px;
        }
        #work{
            margin: 20px;
        }
        #workleft{
            margin: 20px;
            width: 100%;
            height: 100px;
            float: left;
        }
        #workright{
            margin: 20px;
            width: 100%;
            height: 100px;
            float: left;
        }
        }
        #skills{
            margin: 20px;
            width: 100%;
            height: 100px;
        }
        #skillstopic{
            width: 50%;
            float: left;
        }
        #skillsstar{
            width: 50%;
            float: left;
        }

   
}

@media only screen and (mn-width: 200px) {
    *{
        padding: 0;
        margin: 0;
        list-style: none;
        text-decoration: none;
        box-sizing: border-box;
        }
        
        body{
            font-family: 'Times New Roman', Times, serif;
            background: gray;
        }
        
        #nav{
            background: black;
            height: 30px;
            width: 100%;
            margin-top: 1px;
            margin-bottom: 10px;
        }
        #nav > ul{
            float: left;
            margin-right: 10px;
        }
        
        #nav > ul >li{
            display: inline-block;
            line-height: 30px;
            margin: 0 3px;
            padding-top: 3px;
        
        }
        #nav > ul > li > a{
            color: white;
            font-size: 10px;
            text-transform: uppercase;
            cursor: pointer;
        
        }
        
        .input{
            width: 40%;
            margin: 4px 0;
            padding: 5px 5px;
            border: 1px solid black;
            border-radius: 5px;
        }
        #fname{
            margin-right: 15.5px;
        }
        #lname{
            margin-right: 15,5px; 
        }
        #pass{
            margin-right:20px ;   
        }
        #email{
            margin-right:30px ;   
        }
        #phone{
            margin-right:3px ;   
        }
        .submit{
            width: 10%;
            margin: 4px 0;
            padding: 5px 5px;
            border: 1px solid black;
            border-radius: 5px; 
            cursor: pointer;
        }
        textarea {
            width: 40%;
            height: 75px;
            padding: 6px 6px;
            box-sizing: border-box;
            border: 1px solid black;
            border-radius: 10px;
            background-color: #f8f8f8;
            font-size: 8px;
            resize: none;
        }
        
        #image{
            height: 1500px;
            width: 150px;
            border-radius: 100%;
            float: left;
        }
        #name{
            height: 200px;
            width: 100%;
            margin: 10px;
            padding: 10px;
            border-bottom: 1px solid black;
        }
        
        
        #discription{
            padding: 50px;
            margin-left: 150px;
        }
        #work{
            margin: 10px;
            width: 100%;
            height: 50px;  
        }
        #workleft{
            width: 50%;
            float: left;
        }
        #workright{
            width: 50%;
            float: left;   
        }
        #skilla{
            margin: 10px;
            width: 100%;
            height: 50px;
        }
        #skillstopic{
            width: 50%;
            float: left;
        }
        #skillsstar{
            width: 50%;
            float: left;
        }
        /* contact */
.form{
    margin-left: 10px;
}
.mapouter{
    float: right;
    margin-right: 20px;
}

/* blogs */
}
section{
    /* border: solid 1px; */
    padding: 3px 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;

}
article{
    line-height: 15px;
    font-size: 12px;
    text-align: justify;
}
 
.question{
    border: 1px solid black;
    margin: 50px;
    padding: 30px;
}
.question h2,h1,h3{
    margin : 10px;
    font-size: 10px;
}
.title{
    font-size: 15px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 30px;
    margin-bottom: 15px;
}
.date{
    text-transform: capitalize;
    font-style: italic;
    font-size: 10px;
    margin-top: 5px;
}
img{
    width: 200px;
    height: 200px;
    float: left;
    height: 250px; 
    width: 30%;
    margin: 1.66%;
}
#gallary{
    border-top: 10px solid black;
    font-size: 10px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    width: 1rem;
    padding-bottom: 10px;
    border-style: solid 10px;
    position:relative;
    text-align: center;
    display: inline;

}

.heading{
    margin-left: 20px;
    font-size: 40px;
}
div > ul >li a:link, a:visited{
        background-color:#f44336;
        color: white;
        padding: 7px 15px;
        text-align: center;	
        text-decoration: none;
        display: inline-block;
        margin: 10px;  
        border-radius: 10px;
}
div > ul >li a:hover, a:active {
        background-color: red;
}

/* tic toc toe */
  .outside {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #eee;
  }
  .inside {
    display: grid;
    width: 450px;
    height: 450px;
    grid-template-columns: auto auto auto;
  }
  .tictac {
    width: 150px;
    height: 150px;
    font-size: 1.5rem;
    font-weight: bold;
    border: 1.5px solid black;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  
#tictop1,
#tictop2,
#tictop3 {
  border-top: none;
}

#tictop1,
#ticmiddle1,
#ticbottom1 {
  border-left: none;
}

#ticbottom1,
#ticbottom2,
#ticbottom3 {
  border-bottom: none;
}

#tictop3,
#ticmiddle3,
#ticbottom3 {
  border-right: none;
}
        
  }



